
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#main-content-wrapper {
  min-width: 0;
  width: 100%;
  justify-content: center;
  background-color:#2f2f2f;
  color: azure;
}






#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  background-color: #434343;
  color: azure;
  font: 'Ubuntu';
  font-size: x-large;
 
 
}

lista{
  font: 'Ubuntu';
  color: azure;
  backgroundColor: "pink";
  background-color: #434343;
  width: 100%;

}